/*
Title:      Final Assignment

Student:    Misko Valent
Due Date:   Dec 08, 2021
Filename:   styles.css

Class:      DGL 123 - Introduction to PHP
Semester:   2021 Fall North Island College
Instructor: Brad Best
*/

body {
    margin: 30px;
    background-color: mediumseagreen;
}

img {
    max-width: 80px;
    max-height: 111px;
}

.reveal img {
    max-width: 320px;
    max-height: 444px;
}

@media(min-width: 425px) {
    img {
        max-width: 110px;
        max-height: 153px;
    }
  }
  
  @media(min-width: 768px) {
    img {
        max-width: 181px;
        max-height: 251px;
    }
    .reveal img {
        max-width: 320px;
        max-height: 444px;
    }
  }

  /* @media(min-width: 1024px) {
    img {
        max-width: 240px;
        max-height: 333px;
    }
  } */